In [1]:
import pandas as pd
import numpy as np

## Cleaning

Many amino acid sequences have extra characters.  We'll remove those sequences and save a new dataframe.

In [2]:
df = pd.read_csv("../data/train.csv")

In [3]:
df.drop(columns=["proteins"], inplace=True)

In [4]:
df.head()

,interacts,seq1,seq2
0,1,MHKTASQRLFPGPSYQNIKSIMEDSTILSDWTNSNKQKMKYDFSCE...,MERRRITSAARRSYVSSGEMMVGGLAPGRRLGPGTRLSLARMPPPL...
1,1,MPYNFCLPSLSCRTSCSSRPCVPPSCHGYTLPGACNIPANVSNCNW...,MSQAYSSSQRVSSYRRTFGGAPGFPLGSPLSSPVFPRAGFGSKGSS...
2,1,MSFSEMNRRTLAFRGGGLVTASGGGSTNNNAGGEASAWPPQPQPRQ...,MALCLKQVFAKDKTFRPRKRFEPGTQRFELYKKAQASLKSGLDLRS...
3,1,MKFQYKEDHPFEYRKKEGEKIRKKYPDRVPVIVEKAPKARVPDLDK...,MEPQVTLNVTFKNEIQSFLVSDPENTTWADIEAMVKVSFDLNTIQI...
4,1,MTILGTTFGMVFSLLQVVSGESGYAQNGDLEDAELDDYSFSCYSQL...,MRVAGAAKLVVAVAVFLLTFYVISQVFEIKMDASLGNLFARSALDT...

In [5]:
df.shape

(114803, 3)

In [6]:
aa = ['A', 'G', 'V', 'I', 'L', 'F',
      'P', 'Y', 'M', 'T', 'S', 'H',
      'N', 'Q', 'W', 'R', 'K', 'D',
      'E', 'C'
     ]

In [7]:
def should_drop(seq):
    if len(seq) < 31:
        return True
    for i in seq:
        if i not in aa:
            return True
    return False

drop_indices = []

for i in df.index:
    if should_drop(df.loc[i,"seq1"]) or should_drop(df.loc[i,"seq2"]):
        drop_indices.append(i)
        
df.drop(index = drop_indices, inplace=True)

In [8]:
df.head()

,interacts,seq1,seq2
0,1,MHKTASQRLFPGPSYQNIKSIMEDSTILSDWTNSNKQKMKYDFSCE...,MERRRITSAARRSYVSSGEMMVGGLAPGRRLGPGTRLSLARMPPPL...
1,1,MPYNFCLPSLSCRTSCSSRPCVPPSCHGYTLPGACNIPANVSNCNW...,MSQAYSSSQRVSSYRRTFGGAPGFPLGSPLSSPVFPRAGFGSKGSS...
2,1,MSFSEMNRRTLAFRGGGLVTASGGGSTNNNAGGEASAWPPQPQPRQ...,MALCLKQVFAKDKTFRPRKRFEPGTQRFELYKKAQASLKSGLDLRS...
3,1,MKFQYKEDHPFEYRKKEGEKIRKKYPDRVPVIVEKAPKARVPDLDK...,MEPQVTLNVTFKNEIQSFLVSDPENTTWADIEAMVKVSFDLNTIQI...
4,1,MTILGTTFGMVFSLLQVVSGESGYAQNGDLEDAELDDYSFSCYSQL...,MRVAGAAKLVVAVAVFLLTFYVISQVFEIKMDASLGNLFARSALDT...

In [9]:
df.shape

(114583, 3)

In [10]:
df["interacts"].value_counts(normalize=True)

1    0.57368
0    0.42632
Name: interacts, dtype: float64

In [11]:
df.to_csv("../data/train_cleaned.csv", index=False)